<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
    <% if @results.present? %>
    <% @results.each do |result| %>
    <div class="jumbotron">
        <h1 style="text-align:center">
            <%= link_to result.title, result %>
        </h1>
        <hr>
        <p style="text-align:center">
            Posted by:
            <%= User.find(result.user_id).username %>
            on
            <%= result.created_at.strftime("on %B %d, %Y at %l:%M %p") %>
        </p>
        <hr>
        <p style="padding:1em">
            <%= result.body %>
        </p>
    </div>
    <br>
    <% end %>
<% else %>
    <div class="alert alert-dismissible alert-danger text-center alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong>
        There are no results containing the
        <%= "term".pluralize(params[:search].split.count) %>:
        <%= params[:search] %>.
    </div>
    <div>
        <%= form_tag(search_path, :method => "get", class: 'input-group') do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search . . .', class:'form-control' %>
        <span class='input-group-btn'><%= submit_tag "Search", class: 'btn btn-default' %></span>
        <% end %>
    </div>
    <% end %>
</div>
