<h1 style="text-align:center">Conversation Corner</h1>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-2 col-md-offset-2">
    <ul class="nav nav-pills nav-stacked well">
        <h3 style="text-align:center">Mail</h3>
        <hr>
            <%= link_to "Compose", new_conversation_path, class:'btn btn-success' %>
        <li>
            <a href="#" id="inbox">Inbox [<%=current_user.unread_inbox_count %>]</a>
        </li>

        <li>
            <a href="#" id="sent">Sent</a>
        </li>
        <li>
            <a href="#" id="trash">Trash</a>
        </li>
    </ul>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div id="messages-container"></div>
</div>
<script>
    $('#messages-container').html("<%= escape_javascript(render partial: 'conversations/inbox') %>");
    $('#inbox').parent().addClass("active")
    $("#inbox").click(function () {
        $('#messages-container').html("<%= escape_javascript(render partial: 'conversations/inbox') %>");
        $('#inbox').parent().addClass("active")
        $('#sent').parent().removeClass("active")
        $('#trash').parent().removeClass("active")
    });

    $("#sent").click(function () {
        $('#messages-container').html("<%= escape_javascript(render partial: 'conversations/sendbox') %>");
        $('#sent').parent().addClass("active")
        $('#inbox').parent().removeClass("active")
        $('#trash').parent().removeClass("active")
    });

    $("#trash").click(function () {
        $('#messages-container').html("<%= escape_javascript(render partial: 'conversations/trash') %>");
        $('#trash').parent().addClass("active")
        $('#inbox').parent().removeClass("active")
        $('#sent').parent().removeClass("active")
    });
</script>
