<% if params.has_key?(:tag) %>
<h1 style="text-align:center"><%= params[:tag].titleize %></h1>
<% if @posts.present? %>
<% @posts.sort_by(&:created_at).reverse.each do |post| %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align:center">
            <%= link_to post.title, post %></h1>
        <p class="lead" style="text-align:center">Posted by
            <a href="#"><%= link_to User.find(post.user_id).username, "#" %></a>
            <span class="glyphicon glyphicon-time"></span>
            <%= post.created_at.strftime("on %B %d, %Y at %l:%M %p") %></p>
        <p></div>
        <div class="panel-body">
            <p>
                <%= link_to "Read More", post, class: 'btn btn-primary pull-right'%>
                <% if current_user || is_admin? %>
                <%= link_to 'Edit post', edit_post_path(post), :'data-no-turbolink' => true, class: 'btn btn-warning pull-right' %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
                <% end %></p>
        </div>
        <div class="panel-footer post-body"><%= post.body.truncate_words(150) %></div>
    </div>
    <br><br>
    <% end %>
<% else %>
    <div class="alert alert-dismissible alert-danger text-center alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong>
        No posts are tagged with
        <%= params[:tag] %>
        at the moment. Please try again later, or
        <%= link_to "create", new_post_path %>
        your own.
    </div>
    <% end %>

<% else %>
    <h1 style="text-align:center">All Posts</h1>
    <% Tag.all.each do |tag| %>
    <% if tag.posts.count > 0 %>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="height:20em;overflow-y:scroll;margin-bottom:5em">
        <div class="well">
            <h2 style="text-align:center"><%= link_to tag.name.pluralize, posts_path(:tag => tag.name) %></h2>
            <hr>
        <% @posts = []
        Post.all.each do |post|
          if post.tags.where("name LIKE ?", "%#{tag.name}%") != []
            @posts.push(post)
          else
          end
        end
      %>
            <% if @posts.count > 0 %>
            <% @posts.sort_by(&:created_at).last(3).each do |post| %>
            <h4 style="text-align:center">
                <%= link_to post.title.titleize, post %>
            </h4>
            <p>by
                <%= User.find(post.user_id).username %><%= post.created_at.strftime("on %B %d, %Y at %l:%M %p") %></p>
            <hr>
            <% end %>
            <div style="text-align:center">
                <%= link_to "See All #{tag.name.pluralize}", posts_path(:tag => tag.name), class:"btn btn-primary" %>
            </div>
        </div>
    </div>
    <% end %>
    <!-- End of Posts Section-->
    <% end %>
    <% end %>
    <% end %>
