<p id="notice"><%= notice %></p>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 style="text-align:center"><%= link_to @post.title, posts_path %></h1>
            <h3 style="text-align:center">Posted by:
                <%= link_to @post.user.username, "#" %>
                <span class="glyphicon glyphicon-time"></span><%= @post.created_at.strftime(" on %B %d, %Y at %l:%M %p") %>
                <p>Expires
                    <%= @post.exp_date.strftime("on %B %d, %Y") %><%= @post.exp_time.strftime(" at %l:%M %p") %></p>

            </div>
            <div class="panel-body">
                <%= @post.body %>
            </div>
            <div class="panel-footer" style="height:4em">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                    <strong>Tags:</strong>
                    <% @post.tags.each do |tag| %>
                    <%= link_to tag.name, posts_path(:tag => tag.name) %>
                    <% end %>
                </div>
                <div class="btn-group pull-right">
                    <%= link_to "Read More", @post, class: 'btn btn-primary pull-right'%>
                    <% if current_user && @post.user_id == current_user.id || current_user && is_admin? %>
                    <%= link_to 'Edit post', edit_post_path(@post), :'data-no-turbolink' => true, class: 'btn btn-warning pull-right' %>
                    <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
